/* by Element */

/* body {
  display: grid;
  grid-template-columns: 2fr 8fr;
} */

h1 {
  font-size: 20px;
}

p {
  color: blue;
}

div {
  /* background-color: orange; */
}

/* by Class */

.container {
  /* max-width: 1335px;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  /* background-color: green; */
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.container > div {
  flex: 1;
}

.list {
  grid-column: 1;
  grid-row: 1;
}

.content {
  grid-column: 2;
  grid-row: 1;
}

.card {
  float: left;
  width: 250px;
  margin: auto;
}

.frame {
  width: 230px;
  margin: 10px;
  background: yellow;
  color: blue;
}

.image {
  float: left;
  width: 100px;
  height: 100px
  /* margin: auto; */
  object-fit: cover;
}

/* by ID */

#paragraph1 {
  color: red;
  font-size: 16px;
}
